/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
  
   SPACING TWEAKS 
   
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */




// proportional padding (top-right-bot-left)............................

.padding-x-x-3-x {
	padding-bottom: 3vw;
}

.padding-x-3-x-3 {
	padding-left: 3vw;
	padding-right: 3vw;
}

.padding-0-0-3-0 {
	padding: 0 0 3vw 0;
}

.padding-3-0-0-0 {
	padding: 3vw 0 0 0;
}

.padding-3-0-3-0 {
	padding: 3vw 0;
}

.padding-3-x-x-x {
	padding-top: 3vw;
}

.padding-0-0-4-0 {
	padding-bottom: 4vw;
}

.padding-x-x-4-x {
	padding-bottom: 4vw;
}

.padding-4-x-x-x {
	padding-top: 4vw;	
}

.padding-4-0-0-0 {
	padding-top: 4vw;
}

.padding-4-0-4-0 {
	padding: 4vw 0;
}

.padding-6-0-6-0 {
	padding: 6vw 0;
}

.padding-7-0-7-0 {
	padding: 7vw 0;
}

.padding-7-3-7-3 {
	padding: 7vw 3vw;
}

.padding-8-0-0-0 {
	padding: 8vw 0 0 0;
}

.padding-8-0-8-0 {
	padding: 8vw 0;
}

.padding-10-0-10-0 {
	padding: 10vw 0;
	
	@include breakpoint(large) {
		padding: 8rem 0 8rem 0;
	}
}

.padding-12-0-3-0 {
	padding: 12vw 0 3vw 0;
}

.padding-12-4-12-4 {
	padding: 12vw 4vw;
}

.padding-15-0-7-0 {
	padding: 15vw 0 7vw 0;
}

.padding-15-0-3-0 {
	padding: 15vw 0 3vw 0;
}

.padding-15-10-15-10 {
	padding: 15vw 10vw;
}




// normal margins (top-right-bot-left) .................................

.margin-x-x-0-x {
	margin-bottom: 0;
}

.margin-x-x-1-x {
	margin-bottom: 1.25rem;
}

.margin-x-x-2-x {
	margin-bottom: 2.5rem;
}

.margin-none-bot {
	margin-bottom: 0;
}

.margin-sm-bot {
	margin-bottom: 1.25rem;
}

.margin-md-bot {
	margin-bottom: 2.5rem;
}



